<div class="users-list">
<% if user_signed_in? %>
<%= button_to(
        "Log Out",
        destroy_user_session_path,
        method: :delete
      ) %>


  <% @users.each do |user| %>
    <div class="user">
      <%= image_tag "clement-m-F_-0BxGuVvo-unsplash.jpg", class: "user-avatar" %>
      <div class="user-info">
        <h2><%= link_to user.name, user_path(user) %></h2>
        <p><%= pluralize(user.posts_count, 'post') %></p>
      </div>
    </div>
  <% end %>

     <% else %>
  <a href='users/sign_in'> Sign In </a>
  <% end %>
</div>
